In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
import tensorflow.keras as tf
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping

In [33]:
ratings_df = pd.read_csv("ratings.csv")
ratings_df.loc[ratings_df['user_id']==9999]

        book_id  user_id  rating
799970     8072     9999       5
977749     9957     9999       2

In [15]:
ratings_df.isna()

        book_id  user_id  rating
0         False    False   False
1         False    False   False
2         False    False   False
3         False    False   False
4         False    False   False
...         ...      ...     ...
981751    False    False   False
981752    False    False   False
981753    False    False   False
981754    False    False   False
981755    False    False   False

[981756 rows x 3 columns]

In [16]:
books_df = pd.read_csv("books.csv")
books_df.head(10)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
6,7,5907,5907,1540236,969,618260307,9.780618e+12,J.R.R. Tolkien,1937.0,The Hobbit or There and Back Again,...,2071616,2196809,37653,46023,76784,288649,665635,1119718,https://images.gr-assets.com/books/1372847500m...,https://images.gr-assets.com/books/1372847500s...
7,8,5107,5107,3036731,360,316769177,9.780317e+12,J.D. Salinger,1951.0,The Catcher in the Rye,...,2044241,2120637,44920,109383,185520,455042,661516,709176,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...
8,9,960,960,3338963,311,1416524797,9.781417e+12,Dan Brown,2000.0,Angels & Demons,...,2001311,2078754,25112,77841,145740,458429,716569,680175,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...
9,10,1885,1885,3060926,3455,679783261,9.780680e+12,Jane Austen,1813.0,Pride and Prejudice,...,2035490,2191465,49152,54700,86485,284852,609755,1155673,https://images.gr-assets.com/books/1320399351m...,https://images.gr-assets.com/books/1320399351s...

In [17]:
Xtrain, Xtest = train_test_split(ratings_df, train_size=0.80, random_state=1)

In [18]:
Xtrain.shape

(785404, 3)

In [19]:
Xtest.shape

(196352, 3)

In [20]:
nbook_id = ratings_df['book_id'].nunique()
nbook_id

10000

In [21]:
nuser_id = ratings_df['user_id'].nunique()
nuser_id

53424

In [22]:
input_books = tf.layers.Input(shape=[1])
embed_books = tf.layers.Embedding(nbook_id + 1, 15)(input_books)
books_out = tf.layers.Flatten()(embed_books)

In [23]:
input_users = tf.layers.Input(shape=[1])
embed_users = tf.layers.Embedding(nuser_id + 1, 15)(input_users)
users_out = tf.layers.Flatten()(embed_users)

In [24]:
conc_layer = tf.layers.Concatenate()([books_out, users_out])
x = tf.layers.Dense(128, activation='relu')(conc_layer)
x = tf.layers.Dense(64, activation='relu')(x)
x_out = tf.layers.Dense(1, activation = 'softmax')(x)
model = tf.Model([input_books, input_users], x_out)

model.compile(optimizer='Adam', loss='mean_squared_error')
hist = model.fit([Xtrain.book_id, Xtrain.user_id], Xtrain.rating, 
                 batch_size=64, 
                 epochs=3, 
                 verbose=2,
                 validation_data=([Xtest.book_id, Xtest.user_id], Xtest.rating))

Epoch 1/3
12272/12272 - 220s - loss: 9.1266 - val_loss: 9.1334
Epoch 2/3
12272/12272 - 203s - loss: 9.1266 - val_loss: 9.1334
Epoch 3/3
12272/12272 - 187s - loss: 9.1266 - val_loss: 9.1334

In [36]:
model.summary()

Model: "functional_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_3 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
input_4 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 15)        150015      input_3[0][0]
__________________________________________________________________________________________________
embedding_3 (Embedding)         (None, 1, 15)        801375      input_4[0][0]
__________________________________________________________________________________________________
flatten_2 (Flatten)             (None, 15)           0           embedding_2[0][0]
__________________________________________________________________________________________________
flatten_3 (Flatten)             (None, 15)           0           embedding_3[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 30)           0           flatten_2[0][0]
                                                                 flatten_3[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 128)          3968        concatenate_1[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 64)           8256        dense_3[0][0]
__________________________________________________________________________________________________
dense_5 (Dense)                 (None, 1)            65          dense_4[0][0]
==================================================================================================
Total params: 963,679
Trainable params: 963,679
Non-trainable params: 0
__________________________________________________________________________________________________

In [34]:
b_id =list(ratings_df['book_id'].unique())
b_id.remove(10000)

In [31]:
book_arr = np.array(b_id) #get all book IDs
user = np.array([100 for i in range(len(b_id))])
pred = model.predict([book_arr, user])
pred

9999

In [29]:
pred = pred.reshape(-1) #reshape to single dimension
pred_ids = (-pred).argsort()[0:5]
pred_ids

array([   0, 6662, 6663, 6664, 6665], dtype=int64)

In [37]:
recs = books_df.iloc[pred_ids]
recs['book_id']

0       2767052
6662       3885
6663      17688
6664      31335
6665    7849034
Name: book_id, dtype: int64